* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: manrope, sans-serif;
    user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #13243a;
}

.header,
.container,
.footer {
    width: 100%;
}

.header {
    height: 15%;

    img {
        height: 100%;
    }
}

.container {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
            color: #00d2af;
        }

        input {
            width: 40%;
            padding: 1.5rem;
            border-radius: 0.5rem;
            border: 0.05rem solid #00d2af;
            outline: none;
            color: white;
            background: transparent;
            margin: 2rem 0;
            font-size: medium;

            &::placeholder {
                color: white;
            }
        }

        button {
            padding: 1rem;
            border-radius: 0.5rem;
            border: none;
            outline: none;
            color: white;
            background-color: #017c68;
            box-shadow: 0 0 0.1rem white;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            transition: background-color 0.5s;

            &:hover {
                background-color: #02ae91;
            }
        }

        .title {
            text-align: center;
            font-size: 2rem;
            font-weight: 800;
        }
    }

    .output_section {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .output {
            display: none;
            width: 50%;
            padding: 1.5rem;
            border: 0.05rem solid #00d2af;
            border-radius: 0.5rem;
            cursor: pointer;
            justify-content: center;
            align-items: center;
        }

        .clickToCopy,
        .copiedToClipboard {
            display: none;
            width: 20%;
            color: #00d2af;
            font-size: 1rem;
            font-weight: bold;
            border: 0.05rem solid #00d2af;
            border-radius: 0 0 0.5rem 0.5rem;
            padding: 1rem;
            justify-content: center;
            align-items: center;
        }
    }
}

.footer {
    color: #b2bacb;
    height: 10%;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: #b2bacb;
        margin: 0 0.25rem;
        color: #00d2af;
    }
}
